body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}

#language-switcher {
    font-size: 14px;
}

#language-switcher a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 20px;
}

.nav-button {
    background-color: #FFF279;
    color: black;
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.nav-button:hover {
    background-color: #D1C989;
    color: white;
}

main {
    padding: 40px 0;
    text-align: left;
}

.content-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

#intro {
    margin-bottom: 15px;
}

.intro-heading {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 15px;
}

.intro-subheading {
    font-weight: regular;
    font-size: 20px;
    margin-bottom: 30px;
}

.intro-description {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 60px;
    padding: 0 20px; /* Added padding to match the gap */
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Match padding of description */
    margin-bottom: 40px;
}

#personal, #professional {
    margin-top: 20px;
    background-color: #FFF279;
    padding: 20px;
    border-radius: 10px;
}

footer {
    background-color:white;
    padding: 10px 20px; /* Added padding to the footer */
    position: relative; /* Required for pseudo-element positioning */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px; /* Padding for left */
    right: 20px; /* Padding for right */
    height: 1px;
    background-color: rgb(218, 218, 218);
}

footer .social-icons {
    margin-left: auto; /* Aligns the icons to the right */
}

footer .social-icons a {
    color: grey;
    font-size: 24px;
    margin: 0 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjusts the space between the two button sections */
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.button-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Ensure the text is centered */
}

.arrow-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    gap: 5px; /* Adjust this value if needed */
}

.arrow-image {
    width: 20px; /* Adjust the size as needed */
    height: auto;
}

.button-text {
    font-size: 12px;
    color: grey;
}

.button-wrapper .arrow-image:first-child {
    margin-right: 0; /* Remove extra margin */
}

.button-wrapper .arrow-image:last-child {
    margin-left: 0; 
}

.content-section {
    margin-top: 20px;
    background-color: #FDFFE0; /* Yellow background */
    color: #333333; /* Change this to your desired text color */
    font-family: "Ubuntu Mono", monospace;
    padding: 60px; /* Adjust the padding if needed */
    border-radius: 10px; /* Adjust the border radius if needed */
    line-height: 1.2; /* Adjust line height for better readability */
    font-size: 14px; /* Adjust font size if needed */
}

#personal {
    background-color: #FDFFE0; /* Change this to your desired background color */
    color: #333333; /* Change this to your desired text color */
    font-family: "Ubuntu Mono", monospace;
    padding: 60px; /* Adjust the padding if needed */
    border-radius: 10px; /* Adjust the border radius if needed */
    line-height: 1.2; /* Adjust line height for better readability */
    font-size: 14px; /* Adjust font size if needed */
}

#personal p {
    line-height: 1.2; /* Adjust line height for better readability */
    font-size: 14px; /* Adjust font size if needed */
}

#professional{
    background-color: #FDFFE0;
}

/* Styles specific to Korean content */
.korean-style .intro-heading {
    font-size: 30px;
    
}

.korean-style .intro-subheading {
    font-size: 18px;
   
}

.korean-style .intro-description {
    font-size: 15px;
    font-weight: 400;
    color: #666666; /* Example: Change the color to a lighter grey */
    line-height: 1.5;
}

.korean-style .nav-button {
  
    color: #000000;
    padding: 12px 28px;
}

.korean-style #personal, 
.korean-style #professional {
   
    padding: 50px;
    border-radius: 15px;
}


/* Responsive Design */
@media (max-width: 768px) {
    .intro-heading {
        font-size: 32px; /* Adjust heading size for mobile */
    }

    .intro-subheading {
        font-size: 18px; /* Adjust subheading size for mobile */
    }

    .intro-description {
        font-size: 14px; /* Adjust description size for mobile */
    }

    .nav-button {
        padding: 8px 13px; /* Adjust padding for smaller buttons on mobile */
        font-size: 8px; /* Adjust font size for smaller buttons on mobile */
    }

    #buttons {
        gap: 10px; /* Reduce gap between buttons on mobile */
    }

    .content-section {
        line-height: 1.2; /* Adjust line height for better readability */
        font-size: 10px; /* Adjust font size if needed */
    }

    #language-switcher a {
        font-size: 12px; /* Reduced font size for mobile */
        margin: 0 1px;
        text-decoration: none;
        color: black;
    }


    footer {
        flex-direction: column;
        text-align: center;
    }

    footer .social-icons {
        margin-left: 0;
        margin-top: 10px;
    }

    
    
}
